[Unit]
Description=A key management tool

[Service]
Type=simple
WorkingDirectory=WORKING_DIRECTORY
ExecStart=WORKING_DIRECTORY/.venv/bin/gunicorn \
    --bind localhost:8000 \
    --workers 4 \
    --capture-output \
    --log-file WORKING_DIRECTORY/keymaster.log \
    keymaster:app
Restart=on-failure

[Install]
WantedBy=multi-user.target
