<!DOCTYPE html>
<html>
    <head>
        <title>KeyMaster</title>
        <body>
            <div>
                KeyMaster
                <a href="/index">Home</a>
                <a href="/login">Login</a>
                <a href="/keys">Keys</a>
            </div>
			<div>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<div class='alert alert-info' role='alert'>{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
            <hr>
            {% block content %}
			{% endblock %}
        </body>
</html>
