{% extends "base.html" %}

{% block content %}
        <table>
                <tr>
                        <th>Key</th>
                        <th>Description</th>
                </tr>
                {% for key in keys %}
                        <tr>
                                <td>{{ key.name }}</td>
                                <td>{{ key.description }}</td>
                        </tr>
                {% endfor %}
        </table>
        <div>
                <a href="{{ url_for('add_key') }}">Add Key</a>
        </div>
{% endblock %}
