{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class='container text-light my-3' style="max-width: 600px;">
        <div class='row justify-content-center'>
            <div class="">
                <h1>{{ title }}</h1>
                {% if subtitle %}
                    <h4>{{ subtitle }}</h4>
                {% endif %}
                {{ wtf.quick_form(form, button_map={
                "submit": "primary",
                "delete": "danger",
                "cancel": "secondary",
                "yes": "danger",
                "no": "primary"}) }}
            </div>
        </div>
    </div>
{% endblock %}

